@import "tailwindcss";

// @import '~antd/es/style/themes/default.less';
@import "react-github-button/assets/style.css";
// import 'rc-drawer-menu/assets/index.css';
// @import './index.less';
@import "./common";
@import "./responsive";

// @import './icons.less';
// @import "./toc";

.rspress-logo {
  height: 2.2rem;
}

html:not(.dark) .rp-nav__title__logo-image--dark {
  display: none !important;
}

html.dark .rp-nav__title__logo-image--light {
  display: none !important;
}
